:root {
	font-family: 'AvenirLTPro-Book',
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	sans-serif;
}

pre {
	border-radius: 5px;
}

@font-face {
	font-family: 'AvenirLTPro-Book';
	src: url('/fonts/AvenirLTPro-Book/font.woff2') format('woff2'), url('/fonts/AvenirLTPro-Book/font.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'AvenirLTPro-Heavy';
	src: url('/fonts/AvenirLTPro-Heavy/font.woff2') format('woff2'), url('/fonts/AvenirLTPro-Heavy/font.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'BlackDiamond';
	src: url('/fonts/BlackDiamond/font.woff2') format('woff2'), url('/fonts/BlackDiamond/font.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'AvenirLTPro-Medium';
	src: url('/fonts/AvenirLTPro-Medium/font.woff2') format('woff2'), url('/fonts/AvenirLTPro-Medium/font.woff') format('woff');
	font-display: fallback;
}