@font-face {
	font-family: 'AvenirLTPro-Book';
	src: url('/fonts/AvenirLTPro-Book/font.woff2') format('woff2'), url('/fonts/AvenirLTPro-Book/font.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'AvenirLTPro-Heavy';
	src: url('/fonts/AvenirLTPro-Heavy/font.woff2') format('woff2'), url('/fonts/AvenirLTPro-Heavy/font.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'AvenirLTPro-Medium';
	src: url('/fonts/AvenirLTPro-Medium/font.woff2') format('woff2'), url('/fonts/AvenirLTPro-Medium/font.woff') format('woff');
	font-display: fallback;
}

html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (min-width: 768px) {
		font-size: 18px;
	}
}

body {
	background-color: var(--body-bg-color);
	font-family: var(--font-family-light);
	margin: 0;
}

:root {
	// Colours
	--primary-400: #16697A;
	--primary-500: #0F4D59;
	--primary-600: #0B3A44;
	--primary-200: #D3ECF1;
	--secondary-200: #92D2D2;
	--secondary-400: #59C3C3;
	--secondary-500: #53B6B6;
	--gray-200: #E5E7EB;
	--gray-300: #D1D5DB;
	--gray-400: #9CA3AF;
	--gray-700: #374151;
	--fiery-rose: #FC6471;
	--heliotrope-gray: #AEA4BF;
	--wheat-200: #E1CA96;
	--wheat: #EFEADD;
	--white-50: #FEFEFE;
	--white: #FFFFFF;
	--twitter-pastel: #67C3FC;
	// Semantic color names
	--logo-color: var(--primary-400);
	--title-color: var(--primary-400);
	--post-card-bg: var(--white);
	--tag-btn-bg: var(--white);
	--tag-btn-bg-hover: var(--primary-400);
	--tag-btn-bg-hover-text: var(--white);
	--footer-bg: var(--wheat);
	--body-text-color: var(--gray-700);
	--body-bg-color: var(--white-50);
	--subtitle-text-color: var(--gray-400);
	// Font sizes
	--big-header: 4.209rem;
	--heading-one: 3.157rem;
	--heading-two: 2.369rem;
	--heading-three: 1.777rem;
	--heading-four: 1.333rem;
	--small-text: 0.88rem;
	--body-text: 1rem;
	// Font families
	--font-family-heavy: 'AvenirLTPro-Heavy', sans-serif, system-ui;
	--font-family-medium: 'AvenirLTPro-Medium', sans-serif, system-ui;
	--font-family-light: 'AvenirLTPro-Book', sans-serif, system-ui;
	// Widths
	--twelve-column-width: 55rem;
}

[data-theme="dark"] {
	--body-text-color: var(--white-50);
	--logo-color: var(--secondary-400);
	--title-color: var(--white-50);
	--post-card-bg: var(--primary-400);
	--tag-btn-bg: var(--primary-400);
	--tag-btn-bg-hover: var(--primary-200);
	--tag-btn-bg-hover-text: var(--gray-700);
	--footer-bg: var(--primary-500);
	--body-bg-color: var(--primary-600);
	--subtitle-text-color: var(--gray-200);
}

.title {
	font-family: var(--font-family-heavy);
	font-size: var(--big-header);
	color: var(--title-color);
}

h1,
h2,
h3,
h4 {
	color: var(--body-text-color);
	font-weight: normal;
	margin: 0 0 1.38rem;
}

p {
	color: var(--body-text-color);
	margin-bottom: 1rem;
	line-height: 1.75;
}

.h1,
.h2,
.h3,
.h4 {
	font-family: var(--font-family-medium);
}

.h1 {
	font-size: var(--heading-one);
}
.h2 {
	font-size: var(--heading-two);
}
.h3 {
	font-size: var(--heading-three);
}
.h4 {
	font-size: var(--heading-four);
}

ul,
ol {
	color: var(--body-text-color);
}
.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visually-hidden:focus {
	clip: auto;
	height: auto;
	overflow: auto;
	position: absolute;
	width: auto;
}

// Uses Prism Monokai Dark Styles
code[class*="language-"],
pre[class*="language-"],
pre {
	font-size: 0.9rem;
	line-height: 1.5;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #272822;
	color: #f8f8f2;
}

pre[class*="language-"],
pre {
	padding: 1rem 1rem;
	margin: .5em 0;
	border-radius: 5px;
	overflow: auto;

	code[class*="language-"] {
		padding: 0;
	}
}

.highlight-line {
	display: block;
	padding: 0.125em 1em;
	text-decoration: none;
	/* override del, ins, mark defaults */
	color: inherit;
	/* override del, ins, mark defaults */
}

pre,
code {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	line-height: 1.5;
	border-radius: 5px;
}

code {
	background-color: var(--gray-200);
	color: var(--gray-700);
	font-size: 0.8rem;
	padding: 0.2rem 0.5rem;
}

// Post styling
// TODO: Less than ideal, I'd rather have the styling on the [slug].svelte
.prose {
	display: flex;
	flex-direction: column;
	max-width: 820px;
	width: 100%;
	margin: 0 auto;

	a {
		text-decoration: none;
		color: var(--body-text-color);
		font-family: var(--font-family-medium);
		transition: color 0.05s ease-in;
		&:hover {
			color: var(--secondary-500);
		}
	}

	h2,
	h3,
	h4 {
		display: flex;
		align-items: center;
		a {
			width: 24px;
		}
	}

	img {
		// TODO: Responsive styles
		max-width: 120%;
		width: 120%;
		margin: 0 -10%;
	}

	.anchor {
		padding-right: 6px;
		margin-left: -30px;

		.jam-link {
			fill: var(--body-text-color);
			visibility: hidden;
		}
	}

	h2 {
		font-size: var(--heading-one);
	}

	h3 {
		font-size: var(--heading-two);
	}

	h4 {
		font-size: var(--heading-three);
	}

	h2:hover > .anchor .jam-link,
	h3:hover > .anchor .jam-link,
	h4:hover > .anchor .jam-link {
		visibility: visible;
	}

	blockquote {
		border-left: 5px solid var(--heliotrope-gray);
		margin-inline-start: 0;
		padding-left: 40px;
		font-size: 20px;
		font-style: italic;
	}

	p, ul, ol {
		margin-top: 0;
	}

	hr {
		width: 100%;
		border: 1px solid var(--gray-200);
	}
}
// END PROSE
@media screen and (prefers-reduced-motion: reduce) {
	* {
		/* Very short durations means JavaScript that relies on events still works */
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
	}
}