pre {
	border-radius: 5px;
}

@font-face {
	font-family: 'AvenirLTPro-Book';
	src: url('/fonts/AvenirLTPro-Book/font.woff2') format('woff2'), url('/fonts/AvenirLTPro-Book/font.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'AvenirLTPro-Heavy';
	src: url('/fonts/AvenirLTPro-Heavy/font.woff2') format('woff2'), url('/fonts/AvenirLTPro-Heavy/font.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'AvenirLTPro-Medium';
	src: url('/fonts/AvenirLTPro-Medium/font.woff2') format('woff2'), url('/fonts/AvenirLTPro-Medium/font.woff') format('woff');
	font-display: fallback;
}

html {
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--white-50);
	font-family: var(--font-family-light);
	margin: 0;
}

:root {
	// Colours
	--primary-400: #16697A;
	--secondary-100: #D3ECF1;
	--secondary-400: #59C3C3;
	--gray-400: #9CA3AF;
	--gray-700: #374151;
	--fiery-rose: #FC6471;
	--heliotrope-gray: #AEA4BF;
	--wheat: #EFEADD;
	--white-50: #FEFEFE;
	--white: #FFFFFF;
	// Font sizes
	--big-header: 4.209rem;
	--heading-one: 3.157rem;
	--heading-two: 2.369rem;
	--heading-three: 1.777rem;
	--heading-four: 1.333rem;
	--small-text: 0.78rem;
	--body-text: 1rem;
	// Font families
	--font-family-heavy: 'AvenirLTPro-Heavy', sans-serif, system-ui;
	--font-family-medium: 'AvenirLTPro-Medium', sans-serif, system-ui;
	--font-family-light: 'AvenirLTPro-Book', sans-serif, system-ui;
	// Widths
	--twelve-column-width: 55rem;
}

.title {
	font-family: var(--font-family-heavy);
	font-size: var(--big-header);
}

h1,
h2,
h3,
h4 {
	color: var(--gray-700);
	font-weight: normal;
	margin: 0 0 1.38rem;
}

p {
	color: var(--gray-700);
	margin-bottom: 1rem;
	line-height: 1.75;
}

.h1,
.h2,
.h3,
.h4 {
	font-family: var(--font-family-medium);
}

.h1 {
	font-size: var(--heading-one);
}
.h2 {
	font-size: var(--heading-two);
}
.h3 {
	font-size: var(--heading-three);
}
.h4 {
	font-size: var(--heading-four);
}

ul,
ol {
	color: var(--gray-700);
}
.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visually-hidden:focus {
	clip: auto;
	height: auto;
	overflow: auto;
	position: absolute;
	width: auto;
}